* {
  margin: 0;
}
body {
  font-family: Manrope;
}

.big-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.pink-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcd0cf;
  width: 390px;
  height: 292px;
  border-radius: 5%;
}

.div-wrapper {
  display: flex;
}

.size {
  width: 72.61px;
  height: 93.63px;
}
.first-avatar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-right: 20px;
}

.second-avatar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
img {
  width: 58px;
  height: 58px;
}

.img-wrapper {
  position: relative;
  border: 2px solid purple;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
img {
  position: relative;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 50%;
}

.img-wrapper2 {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 10.7212px;
  line-height: 150%;
  color: #000000;
}

.first-avatar h6 {
  font-weight: bold;
  font-size: 9.38106px;
  line-height: 142%;
  color: #c52cee;
}

.second-avatar h6 {
  font-weight: normal;
  font-size: 9.38106px;
  line-height: 142%;
  color: #a1a1a1;
}

.little-size {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 12.0817px;
  z-index: 10;
}
.number-one {
  background-color: #1f8b24;
  color: #c5f2c7;
}

.number-two {
  background-color: #da100b;
  color: #fff;
}
