/* * {
  box-sizing: border-box;
} */
.elements {
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elements_logo {
  width: 185.34px;
  height: 31.97px;
  margin-top: 22px;
  margin-right: 320.73px;
}

.elements_navigation a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
}

.elements_navigation {
  display: flex;
  width: 350px;
  height: 28px;
  justify-content: space-between;
  margin-right: 30.5px;
}

.elements_buttons-style-1 {
  width: 102px;
  height: 46px;
  background-color: #ffffff;
  color: #173a56;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #bcd0e5;
}

.elements_buttons-style-2 {
  width: 110px;
  height: 46px;
  background-color: #ff9900;
  color: #ffffff;
  border: 1px solid #fff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.first-sec {
  display: flex;
  justify-content: center;
}

.left {
  width: 532px;
  height: 324px;
  margin: 168px 45px 156px 96px;
}

.left_title {
  color: #2f281e;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.left_description {
  color: #544837;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.navs_button {
  width: 175px;
  height: 53px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background-color: #ff9900;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 30px;
}

.navs a {
  color: #ff9900;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.right {
  margin: 76px 76px 0px 122px;
}

.right img {
  width: 605px;
  height: 496px;
}

.second-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-sec_title {
  width: 539px;
  height: 108px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #2f281e;
}

.second-sec_tests {
  display: flex;
  width: 1095px;
  height: 204px;
}

.tests_test {
  width: 240px;
  height: 178px;
}

.test_icon {
  width: 50px;
  height: 50px;
}

.writing_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.writing_description {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.second-sec_button {
  width: 175px;
  height: 53px;
  background-color: #ff9900;
  color: #fff;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #fff;
  margin-top: 34px;
}

.third-sec {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.third-sec_left {
  display: flex;
  flex-direction: column;
  width: 486px;
  height: 100%;
  margin-right: 104px;
}

.small-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #544837;
}
.big-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.description {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.passage_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.forth-sec {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.forth-sec_right {
  width: 486px;
  height: 100%;
  margin-left: 100px;
}

.lists {
  display: flex;
  width: 430px;
  height: 52px;
  justify-content: baseline;
  margin-bottom: 30px;
}

.lists_img {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.fifth-sec {
  display: flex;
  margin-top: 104px;
  justify-content: center;
}

.fifth-sec_left {
  margin-right: 82px;
  display: flex;
  flex-direction: column;
  width: 486px;
  height: 100%;
}

.fifth-sec_img {
  width: 542px;
  height: 609px;
}
.ftr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 124px 131px 83px 160px;
}
footer img {
  width: 184.35px;
  height: 34.26px;
  margin-bottom: 70px;
  margin-left: 125px;
}

footer a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
}

.ftr_dv-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 118px;
  height: 219.64px;
  margin-left: 129px;
  color: #544837;
}

.ftr_dv-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 140px;
  height: 300.64px;
  margin-left: 82px;
  color: #544837;
}

.ftr_dv-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 82px;
  width: 325px;
  height: 213.21px;
}

.ftr_dv-3 input {
  width: 325px;
  height: 51.43px;
}

.ftr_dv-3 button {
  width: 131px;
  height: 41.79px;
  margin-top: 22.71px;
  background-color: #ff9900;
  color: #fff;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #fff;
}
