.wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.smaller {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}
